/* Global General Styles */

html{
	background-color: #1c1c1c;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Charcoal, sans-serif;
  color:white;
  text-shadow:
 -1px -1px 0 #000,
  1px -1px 0 #000,
 -1px 1px 0 #000,
  1px 1px 0 #000;
}

/* --- Global General Styles --- */



/* Global Styles for Components */

.Logo{
	position:absolute;
	top:0.5vmin;
	left:0.5vmin;
	width:15vmin;
	height:15vmin;
	background-size: contain;
}

.Background{
	position:absolute;
	width:100vw;
	height:100vh;
	background-color: #212121;
	background-size:cover;
}

.Copyright {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(10, 10, 10, 0.4);
}

/* NavBar styling */

.NavBar{
	position:sticky;
	top:0;
	right:0;
	background: rgba(10, 10, 10, 0.4);
	z-index: 3;
	grid-area: NavBar;
}

	.NavBar > .Link{
		color:white;
		text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
		text-decoration: none;
		display:inline;
		float:right;
		margin:5px;
		padding:5px;
		border:transparent;
		border-style:solid;
	}

	.NavBar > .Link:hover{
		background: rgba(255, 255, 255, 0.25);
	}

	.NavBar > .BoldLink{
		border-style:solid;
		border-color:white;
	}

/* --- NavBar styling --- */

.Title{
	position: absolute;
	font-size: 11vmin;
	width: 13ch;
	height:1.1em;
	top:50vh;
	left:50vw;
	transform: translate(-50%, -50%);
	text-align: center;
	background: rgba(10, 10, 10, 0.2);
}

/* --- Global Styles for Components --- */
